p {
  font-size: 100%;
  color: #9B9B9B;
  margin: 1em 0;
}

.chargingsymbol {

  opacity: 0;
  transition: opacity 300ms ease-in;
}

.batterylevel {
  transform-origin: 83px 277px;
  transform: scaleY(0); 
  transition: transform 300ms ease-in;
}