html, body {
	height: 100%;
}



body {
	
	background-image: url('../img/pattern.png');

	background-color: rgba(44,62,80,0.9);
	background-position: center center;
	background-repeat: repeat;
	background-size: cover;	
	font-family: 'Raleway', 'Arial', sans-serif;
}

.countdown-container {
	position: relative;
	top: 40%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	transform: translateY(-50%);

}

.clock-item .inner {
	height: 0px;
	padding-bottom: 100%;
	position: relative;	
	width: 100%;
}

.clock-canvas {
	background-color: rgba(255, 255, 255, .1);
	border-radius: 50%;
	height: 0px;
	padding-bottom: 100%;
}

.text {
	color: #ffffff;	
	font-size: 30px;
	font-weight: bold;	
	margin-top: -60px;
	position: absolute;
	top: 50%;
	text-align: center;
	text-shadow: 1px 1px 1px rgba(1, 1, 1, 1);
	width: 100%;
}
#ts4{
	color: #ffffff;	
	font-size: 30px;
	font-weight: bold;	
	text-align: center;
	text-shadow: 1px 1px 1px rgba(1, 1, 1, 1);
	

}
#ts1{
	color: #ffffff;	
	font-size: 30px;
	font-weight: bold;	
	text-align: center;
	text-shadow: 1px 1px 1px rgba(1, 1, 1, 1);
	

}
#ts2{
	color: #ffffff;	
	font-size: 30px;
	font-weight: bold;	
	text-align: center;
	text-shadow: 1px 1px 1px rgba(1, 1, 1, 1);
	
}
#ts3{
	color: #fff;	
	font-size: 30px;
	font-weight: bold;	
	text-align: center;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
	
}
#ts5{
	color: #fff;	
	font-size: 30px;
	font-weight: bold;	
	text-align: center;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
	
}
#ts6{
	color: #fff;	
	font-size: 30px;
	font-weight: bold;	
	text-align: center;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);

}

.text .val {
	font-size: 60%;
}

.text .type-time {
	font-size: 20px;
}
h2{
  line-height: 13px; 
}
@media (min-width: 768px) and (max-width: 991px) {
	.clock-item {
		margin-bottom: 30px;		
	}
}

@media (max-width: 767px) {
	.clock-item {
		margin: 0px 30px 30px 30px;
	}
}